@import "styles/_variables";
@import "styles/blinker";
@import "styles/canvas";
@import "styles/landpage";

body {
  background-color: $primary-background-color;
  color: $text-color;
  font-family: $text-font;
}

