@font-face {
  font-family: "Maven Pro";
  src: url("../font/Maven_Pro/MavenPro-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Mono Space";
  src: url("../font/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
}

$primary-background-color: #504C57;
$secondary-background-color: #756596;


$primary-font: "Maven Pro";
$secondary-font : "Rubik";
$sub-title-font: "Mono Space";

$text-font: "Rubik";
$text-color: #EDEEF1;


