.landpage {
  .landpage-title {
      position: fixed;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(180deg, transparent, $secondary-background-color 160%);
  
      h1 {
        font-family: $primary-font;
        font-size: 72px;
        opacity: 80%;
      }
  
      h2 {
        font-size: 24px;
        font-family: $sub-title-font;
        color: $sub-title-color;
      }
    }
    .landpage-logo {
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .model {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.33vw;
        height: 33.33vh;
      }
    }
}